.purple {
  //badge
  .ant-badge-count {
    background: $color-3;
    box-shadow: 0 0 0 1px $color-3;
  }

  .ant-btn:hover,
  .ant-btn:focus {
    border-color: $color-3;
    color: $color-3;
  }

  .ant-btn-text:hover,
  .ant-btn-text:focus {
    background-color: rgba($color: $color-3, $alpha: 0.1);
    color: $color-3;
  }

  .ant-btn-link:hover,
  .ant-btn-link:focus {
    color: $color-3;
  }

  //checkbox
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $color-3;
    border-color: $color-3;
  }

  .ant-checkbox-indeterminate .ant-checkbox-inner {
    border-color: $color-3;
  }

  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: $color-3;
  }

  .ant-checkbox-checked::after {
    border-color: $color-3;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner,
  .ant-checkbox-checked::after {
    border-color: $color-3;
  }

  //radio

  .ant-radio-inner::after {
    background-color: $color-3;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: $color-3;
  }
  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: $color-3;
  }

  .ant-radio-group-solid
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    background: $color-3;
  }

  .ant-radio-group-solid
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: $color-3;
    border-color: $color-3 !important;
    color: $common_extra_color_1;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: $color-3 !important;
    color: $color-3;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: $color-3 !important;
  }
  // breadcrumb
  .ant-breadcrumb a:hover {
    color: $color-3 !important;
  }

  //Slider
  .ant-slider-track,
  .ant-slider:hover .ant-slider-track {
    background-color: $color-3;
  }

  .ant-slider-handle {
    background-color: $color-3;
    border-color: $color-3;
  }

  .ant-slider-handle:hover,
  .ant-slider-handle:active {
    box-shadow: 0px 0px 0px 10px rgba($color-3, 0.15);
  }

  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: $color-3;
  }
  //Menu
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgba($color: $color-3, $alpha: $opacity-low);
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected:hover {
    color: $color-3;
  }

  .ant-menu-item-selected,
  .ant-menu-submenu-selected,
  .ant-menu-submenu-selected .ant-menu-submenu-arrow {
    color: $color-3;
  }

  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-color: $color-3;
  }

  .ant-menu .text-color-1.ant-menu-item-icon,
  .ant-menu .text-color-2.ant-menu-item-icon,
  .ant-menu .text-color-3.ant-menu-item-icon,
  .ant-menu .text-color-4.ant-menu-item-icon,
  .ant-menu .text-color-3.ant-menu-item-icon,
  .ant-menu .text-color-6.ant-menu-item-icon,
  .ant-menu .text-color-7.ant-menu-item-icon,
  .ant-menu .text-color-8.ant-menu-item-icon,
  .ant-menu .text-color-9.ant-menu-item-icon {
    color: $common_light_extra_color_5 !important;
  }

  .ant-menu-item-selected .text-color-1.ant-menu-item-icon,
  .ant-menu-item-selected .text-color-2.ant-menu-item-icon,
  .ant-menu-item-selected .text-color-3.ant-menu-item-icon,
  .ant-menu-item-selected .text-color-4.ant-menu-item-icon,
  .ant-menu-item-selected .text-color-5.ant-menu-item-icon,
  .ant-menu-item-selected .text-color-6.ant-menu-item-icon,
  .ant-menu-item-selected .text-color-7.ant-menu-item-icon,
  .ant-menu-item-selected .text-color-8.ant-menu-item-icon,
  .ant-menu-item-selected .text-color-9.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-1.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-2.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-3.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-4.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-5.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-6.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-7.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-8.ant-menu-item-icon,
  .ant-menu-submenu-selected .text-color-9.ant-menu-item-icon {
    color: $color-3 !important;
  }

  //Date Picker
  .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner::before {
    border-color: $color-3;
  }
  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background-color: $color-3;
    color: $common_extra_color_1;
  }

  .ant-picker:hover,
  .ant-picker-focused {
    border-color: $color-3;
  }

  .ant-picker-focused {
    box-shadow: 0 0 0 2px rgba($color: $color-3, $alpha: 0.2);
  }

  .ant-picker-range .ant-picker-active-bar {
    background-color: $color-3;
  }

  //Tabs
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .ant-tabs-tab:hover,
  .ant-tabs-tab:active,
  .ant-tabs-tab-btn:focus,
  .ant-tabs-tab-remove:focus,
  .ant-tabs-tab-btn:active,
  .ant-tabs-tab-remove:active {
    color: $color-3;
  }
  .ant-tabs-ink-bar {
    background-color: $color-3;
  }

  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color: $color-3;
  }
  //Input
  .ant-input:hover,
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: $color-3;
  }
}
